




body{
    font-family: "monospace",sans-serif; 
}

.font-primary{
    color: #00abae;
}

.nav-link{
    color: #00abae;
}

#email{
    text-decoration: none;
    color: #00abae;
}

#about{
    margin: 60px auto;
    max-width: 70%;
    text-align: center;

}

#about img{
    border-radius: 50%;
    width: 150px;
    margin-bottom: 10px;
    height: 150px;
}

#about .name{
    font-size: 29px;

} 

#about h2{
    margin-top: 30px;
    margin-bottom: 50px;
}

#about .vocation{
    font-size: 17px;
    color: #A8A8AB;
    margin-bottom: 10px;
}

#about .skills{
    font-size: 14px;
    color: #00abae;
    margin-bottom: 10px;
}

#about .email{
    margin-top: 14px;
    font-size: 14px;
}

#about .icons{
    margin-top: 20px;
    font-size: 30px;
}

#about .icons a{
    color: black;
}

.card{
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn{
    background-color: #00abae;
    border: none;
}

.card-title{
    font-weight: bold;
}

.card-text{
    color: #A8A8AB;
}